#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* WIFI_SSID = "your_wifi_ssid_here";
const char* WIFI_PASSWORD = "your_wifi_password_here";

const char* OPENWEATHER_API_KEY = "your_openweathermap_api_key_here";

#endif
