#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* WIFI_SSID = "your_wifi_ssid_here";
const char* WIFI_PASSWORD = "your_wifi_password_here";

const char* WITHINGS_CLIENT_ID = "your_withings_client_id";
const char* WITHINGS_CLIENT_SECRET = "your_withings_client_secret";
const char* WITHINGS_ACCESS_TOKEN = "your_withings_access_token";
const char* WITHINGS_REFRESH_TOKEN = "your_withings_refresh_token";
const char* WITHINGS_USER_ID = "your_withings_user_id";

const char* STRAVA_CLIENT_ID = "your_strava_client_id";
const char* STRAVA_CLIENT_SECRET = "your_strava_client_secret";
const char* STRAVA_ACCESS_TOKEN = "your_strava_access_token";
const char* STRAVA_REFRESH_TOKEN = "your_strava_refresh_token";

#endif
